<!-- Validation failure messages -->
<% if @location.errors.any? %>
  <% @location.errors.full_messages.each do |message| %>
    <div class="alert">
      <%= message %>
    </div>
  <% end %>
<% end %>

<h1>
  Edit location: <%= @location.location_name %>
</h1>

<hr>

<form action="/update_location/<%= @location.id %>" method="post">
  <!-- Label and input for location_name -->
  <div class="form-group">
    <label for="location_name">
      Location name
    </label>

    <input type="text" id="location_name" name="location_name" class="form-control" value="<%= @location.location_name %>">
  </div>

  <!-- Label and input for location_address -->
  <div class="form-group">
    <label for="location_address">
      Location address
    </label>

    <input type="text" id="location_address" name="location_address" class="form-control" value="<%= @location.location_address %>">
  </div>

  <!-- Label and input for user_id -->
  <div class="form-group">
    <label for="user_id">
      User
    </label>

    <input type="text" id="user_id" name="user_id" class="form-control" value="<%= @location.user_id %>">
  </div>

  <button class="btn btn-block btn-outline-secondary">
    Update location
  </button>
</form>

<hr>

<a href="/locations">
  Go back
</a>
