<h1>
  Location #<%= @location.id %> details
</h1>

<a href="/locations/<%= @location.id %>/edit">
  Edit location
</a>

<hr>

<dl>
  <dt>
    Location name
  </dt>
  <dd>
    <%= @location.location_name %>
  </dd>

  <dt>
    Location address
  </dt>
  <dd>
    <%= @location.location_address %>
  </dd>

  <dt>
    User
  </dt>
  <dd>
    <%= @location.user_id %>
  </dd>

  <dt>
    Created at
  </dt>
  <dd>
    <%= time_ago_in_words(@location.created_at) %> ago
  </dd>

  <dt>
    Updated at
  </dt>
  <dd>
    <%= time_ago_in_words(@location.updated_at) %> ago
  </dd>
</dl>

<a href="/delete_location/<%= @location.id %>">
  Delete location
</a>

<hr>

<a href="/locations">
  Go back
</a>
