<h1>
   Details for <%= @location.location_name %>
</h1>


<hr>

<dl>
  <dt>
    Location name
  </dt>
  <dd>
    <%= @location.location_name %>
  </dd>

  <dt>
    Location address
  </dt>
  <dd>
    <%= @location.display_address %>
  </dd>

  <dt>
    Search Radius (km)
  </dt>
  <dd>
    <%= @location.searchradius %>
  </dd>

  
</dl>

<a href="/delete_location/<%= @location.id %>">
  Delete location
</a>

<hr>

<a href="/locations">
  Go back
</a>
