
<h1>
  Banks with presence in all chosen locations
</h1 >



<a href="/locations">
  Back to list of locations
</a>

<hr>




  <% @banks.each do |bank| %>
<div class="card border-dark mb-3" >
  <div class="card-header"><h3><%= bank.bank_name %></h3></div>
  <div class="card-body">
    <p class="card-text">Total Deposits: <%= number_to_currency(bank.total_deposits / 1000000, precision: 0) %> billion</p>  
    <p class="card-text">Total Assets: <%= number_to_currency(bank.total_assets / 1000000, precision: 0) %> billion</p>  
    <p class="card-text">Date Established: <%= Date.strptime(bank.date_established).year %></p>
    <% if bank.fdic_active == true    %>
    <p class="card-text">FDIC Status: Active  </p>  
    <% else %>
    <p class="card-text">FDIC Status: Inactive  </p> 
    <% end %>
    <p class="card-text">FDIC Certification Number: <%= bank.fdic_number %></p>
    
    
    
    
    
    <p class="card-text">
    
    
    
    
    
    
    
    
    
<form action="/bank_branches" method="get">
  <!-- Label and input for bank_name -->
  
  
    <input type="hidden" value="<%= bank.fdic_number %>" name="thebankid">
    

  <button class="btn btn-link ml-0 pl-0 pt-0 mb-0 pb-0">
    View Nearby Branches
  </button>
</form>
    
    
    
    
    
    
    </p>
    
    
    
    
    
    
    
  
    <p class="card-text pt-0 mt-0">

      <% if bank.website_address.include? "http" %>
      <a href=<%= bank.website_address %>>Website</a> </p>
      
      <% else %>
      <a href=https://<%= bank.website_address %>>Website</a> </p>
      <% end %>
  </div>
</div>
<% end %>

